.App {
  text-align: center;
  background-color: white;
  height: 750px;
}
.heart {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url('img/heart.png') no-repeat center/contain;
  /* transform: rotate(-45deg); */
  animation: fall 4s linear infinite;
}
.img{
  height: 200px;
  width: 200px;
}
.drop {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url('img/drop.png') no-repeat center/contain;
  animation: fall 1s linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}

.rainy-background {
  background-color: #354044; /* Màu xám nhẹ */
}
.love-background {
  background-color: pink; /* Màu xám nhẹ */
}
.custom-button {
  margin-top: 20px;
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #2980b9;
}

.custom-image{
  height: 100px;
  width: 100px;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}
